/* #dashboard{
    margin: 1% 2%;
    }
#dashboard img{
        padding-top: 0rem;
        height: 68px;
        margin-top: 0%;
    } 
.hel{
    margin-top: 0%;
    text-align: right;}
.container{
    background:url('../static/makin/bg.jpg');
} */

